.header-wrap{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center; 
    .header{
        align-self: center;
        justify-content: center;    
    }
}
.page-content{
    line-height: 2.0rem;
    .wp-block-image {
        img{
        height: auto;
        }
    }
    .wp-block-embed__wrapper {
        @extend .ratio;
        @extend .ratio-16x9;
    }
    .wp-block-table
    {
      margin: 10px 0;
      td:nth-child(1) {
        width: 30%;
      }
      td{
        padding: 10px;
      }
    }
    figcaption{
        color: $gray-500;
        font-size: 90%;
        text-align: center;
    }    
    h2 {
        font-size: 1.5rem;
        padding: 0.8em 0.5em;
        background: transparent;
        border-left: solid 5px $dark;
        border-bottom: dashed 2px $gray-300;
        color: $dark;
        margin-bottom: 1.3rem;
    }
    h3 {
        font-size: 1.3rem;
        padding: 0.6em 0.6em;
        background: transparent;
        margin-bottom: 1.3rem;
        border-bottom: dashed 2px $gray-200;
    }
}
.hamburger-inner
{
    z-index: 1000;
    &.light{
        background-color: $light;
        &:before,
        &:after
        {
            background-color: $light;
        }
    }
    &.dark{
        background-color: $dark;
        &:before,
        &:after
        {
            background-color: $dark;
        }
    }
}
.pagination
{
    a{
        @extend .page-link;
        color: $gray-600;
    }
    span{
        @extend .page-link;
        background-color: $gray-200;
    }
}
footer{
    ul.menu{
        @extend .list-group;
        @extend .list-group-flush;
        li{
            @extend .list-group-item, .bg-transparent;
            a{
                @extend .text-light, .text-decoration-none;
            }
        }
    }
}
#nav-main{
    ul.menu{
        @extend .list-group, .list-group-flush;
        @extend .navbar-nav, .ms-auto;
        li{
            @extend .nav-item;
            a{
                @extend .nav-link;
            }
        }
    }    
}